// COLORS
$col-red: #fe7867;
$col-yellow: #fad400;
$col-cyan-dark: #25564b;
$col-cyan: #458c7e;
$col-cyan-light: #90D4C5;
$col-bg-1: #FFFBF7;

$col-yellow-light: #fad4004d;
$col-red-light:  #fe79674d;

// NEUTRAL COLORS 
$col-blue-dark: #19536b;
$col-blue-dark-1: #23303e;
$col-blue-light: rgba(25, 82, 107, 0.6);
$col-grey: #5a636c;
$col-grey-1:  #818498;
$col-grey-2: #a7abae;
$col-white: #fff;
$col-black: #000;

// FONTS
$font-primary: 'Fraunces', sans-serif;
$font-secondary: 'Barlow', sans-serif;

